@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* latin */
@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat.woff2);
}

/* latin extended */
@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-extended.woff2);
}


/* latin extended */
@font-face {
	font-family: Croissant;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Croissant.ttf);
}

.header {
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: #1a0000;
	margin: 0;
	padding: 0;
}


body {
	padding: 0;
	margin: 0;
	width: 100%;
	background: #FFF8DC;
	font-family: Montserrat;
	font-size: 1.3rem;
	height: 100%;
}


nav,
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 20px;
}

.container {
	padding-bottom: 20px;
}


.video-div {
	height: 75dvh;
	min-height: 400px;
	background-color: #baa58768;
}

.section-div {
	height: 40dvh;
	min-height: 400px;
	background-color: #a3a4723f;
}

#index-video {
	width: 100%;
	height: 60dvh;
	min-height: inherit;
	object-fit: cover;
	position: absolute;
	z-index: -1;
}

#comanda-section {
	background: url("../images/pump.jpg");
	background: size-hover;
}

.index-info {
	height: inherit;
	min-height: inherit;
	color: #1a0000;
	display: flex;
	flex-direction: column;
	justify-content: center;

}


.btn-comanda {
	margin-top: 30px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	border: 2px solid rgb(0, 0, 0);
	background-color: hsl(0, 0%, 0%);
	padding: 10px;
	border-radius: 5px;

	max-width: fit-content;
	transition: all 0.5;

}

.btn-comanda:hover {
	color: #000000df;
	background-color: #b0995f;
	border-color: rgb(124, 100, 85);
}

.comanda-info {
	display: flex;
	gap: 15px;
}

.card-comanda {
	width: 50%;
	padding: 0px 20px 20px 20px;
	border-radius: 5px;
	box-shadow: #8d8d8f;
}


section>h1 {
	font-size: 2rem;
	text-align: center;
}

.carduri {
	display: flex;
	gap: 30px;
}

.card {
	width: 50%;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 15px;
	box-shadow: #00000040 0px 25px 50px -12px #00000040 0px 25px 50px -12px;
}


.fondator img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
}


.fondator {
	overflow: auto;
}


* {
	box-sizing: border-box
}

hr {
	border: none;
}


.logo {
	margin: 0;
	padding: 0;
}

.logo img {
	max-height: 70px;
}

.nav {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 70%;
	background-color: #1a0000;
}

.header a:link {
	font-family: Croissant;
	font-weight: bold;
	font-size: 1em;
}

a:link {
	float: left;
	display: block;
	color: #F5DEB3;
	padding: 0px 24px;
	margin-top: 28px;
	margin-bottom: 10px;
	text-decoration: none;
	font-size: 20px;
	-webkit-transition: color 1s;
	transition: color 1s;
}

a:visited {
	color: #DEB887;
}

a:hover {
	color: #BC8F8F;
	text-shadow: 1px 1px #DEB887;
	-webkit-transition: color 1s;
	transition: color 1s;
}

.nav .icon {
	display: none;
}




/*slider*/

.slideshow-container {
	color: #FFF8DC;
	font-family: Croissant;
	position: relative;
	margin: 95px auto 5px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding: 0;
	border: 3px solid lightgrey;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
	width: 60%;
}

.slideshow-container:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
}



.slide {
	display: none;
	height: 100%;
}

.slide img {
	margin: 0;
	width: 100%;
	height: 100%;
}

.text {
	font-size: 1.7rem;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

[class^=col-] {
	float: left;
	padding: 5px;
}

.col-80 {
	width: 80%;
}

.col-40 {
	width: 40%
}



.col-20 {
	width: 20%;
}

.col-50 {
	width: 50%;
}


.row {
	overflow: auto;
}

.numbertext {
	font-size: 1rem;
	padding: 8px 12px;
	position: absolute;
	top: 20px 50px;
}


.anim {
	-webkit-animation-name: anim;
	-webkit-animation-duration: 2s;
	animation-name: anim;
	animation-duration: 2s;
}

@-webkit-keyframes anim {
	from {
		opacity: 0.8;
		transition: 2s;
	}

	to {
		opacity: 1
	}
}

@keyframes anim {
	from {
		opacity: .8;
		transition: 2s;
	}

	to {
		opacity: 1
	}
}



.about {
	width: 95%;
	height: auto;
	background: #FFF8DC;
	opacity: 1;
	filter: alpha(opacity=100);
	margin: 0 auto;
	color: #1a0000;
	text-align: center;
	padding: 10px 0px;
}

.products {
	width: 100%;
	background: #1a0000;
	opacity: 0.9;
	filter: alpha(opacity=90);
	margin: 0 auto;
	color: #FFF8DC;
	border-radius: 0;
}

.description_prod {
	width: 90%;
	padding: 10px;
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
}

.cards_prod {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	padding-left: 2%;
}

.card {
	width: 33%;
	padding: 5px;
	margin: 0;
}

.cards_prod .photo_prod {
	max-width: 100%;
	max-height: 265px;
	border: 2px dotted #A0522D;
	box-shadow: 2px 3px 5px #D2B48C;
	border-radius: 0;

	box-shadow: 0 10px 15px 0 rgba(200, 0, 0, 0.2), 0 12px 20px 5px rgba(100, 0, 0, 0.22);
	-webkit-filter: inherit;
	filter: inherit;
	transition: all 1s;
}

.cards_prod .photo_prod:hover {
	-webkit-transition: filter 1s;
	transition: filter 1s;
	box-shadow: 5px 15px 25px 0 rgba(0, 0, 0, 0.2), 0 15px 25px 5px rgba(0, 0, 0, 0.22);
	-webkit-filter: contrast(200%);
	filter: contrast(200%);
}

.description_prod h1,
.cards_prod h3,
.cards_prod p {
	text-align: center;
}

/*modulul Contacte*/

.contact-form {
	background-color: #FFF8DC;
	border-radius: 5px;
	border: 2px solid #1a0000;
	margin-bottom: 15px;
	max-width: 480px;
	padding: 5px 15px 30px 15px;
	text-align: right;
}

.contact-form input,
.contact-form textarea {
	display: block;
	width: 90%;
	margin: 15px auto 0px auto;
	resize: none;
	font-family: Georgia;
	padding: 3px;
	font-size: 16px;
}

.contacts {


	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;



	width: 90%;
	margin: 10px auto;
	height: 380px;
	background: #FFF8DC;
	color: #1a0000;
	opacity: 0.97;
	filter: alpha(opacity=97);
	padding: 10px 20px;
	border-radius: 10px;
	padding: 0;
}

.contacts .coord {
	float: left;
	width: 40%;
	font-size: 1.3rem;
	font-weight: bold;

	margin-bottom: 20px;

}

.contacts .map {
	width: 60%;
	float: right;
	padding: 0;
	margin-bottom: 20px;
}

.contacts h2 {
	text-align: center;
}

.contacts .txt {
	padding-left: 20px;
	padding-top: 5px;
}

.blok_coord {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
}

.coord .ico {
	background-color: #e0ba88;
	padding: 10px 20px;
	box-shadow: 5px 15px 25px 0 #DEB88a, 10px 15px 25px 5px #DEB8fa;
	border-radius: 50%;
	opacity: 0.35;
	filter: alpha(opacity=35);
}


.formular-container {
	background-color: #FFF8DC;
	width: 50%;
	margin-right: 30px;
	margin-top: 15px;
	text-align: center;
	padding-bottom: 25px;
	border-radius: 10px;
	overflow: auto;
}

.formular-container input,
.formular-container textarea {
	font-family: Croissant;
	font-size: 18px;
	color: #1a0000;
	width: 80%;
	margin-bottom: 10px;
	resize: none;
	border-radius: 5px;
	outline: none;
	padding: 5px;
	border: 1px solid #DEB887;
	background-color: #ffffff
}

.formular-container input:focus,
.formular-container textarea:focus {
	border: 1px solid #825e5e
}

.formular-container ::placeholder {
	color: #1a0000
}


.container #transmite {
	cursor: pointer;
	background-color: #927609;
	float: left;
	width: 130px;
	margin-right: 9%;
}

.footer {
	clear: both;
	text-align: center;
	width: 100%;
	background-color: #1a0000;
	margin: 0;
	padding: 5px 0;
	background-color: #1a0000;
	color: #F5DEB3;
	height: auto;
}

/* stilurile pentru paginile aditionale*/
.copy {
	font-size: 3rem;
}

.about_capp {
	width: 95%;
	min-height: 90vh;
	background: #FFF8DC;
	opacity: 1;
	filter: alpha(opacity=100);
	margin: 75px auto;
	margin-bottom: 10px;
	color: #1a0000;
	padding: 5px 20px;
	border-radius: 10px;
}

.about_capp .img-details {
	margin: 5px 20px;
	height: auto;
	border: 3px solid lightgray;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.left-float {
	float: left;
}

.right-float {
	float: right;
}

.slide img {
	display: block;

}

.main-paragraph {
	margin-top: 10px;
	text-align: left;
	margin: auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.text-paragraph {
	background-color: #EAE5D3;
	border: 3px solid lightgrey;
	padding: 10px;
}

p {
	line-height: 30px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Croissant;
}

.text-center {
	text-align: center;
}

.product-text {
	min-height: 100px;
}

.fondator {
	overflow: auto;
}


@media screen and (max-width: 968px) {

	html {
		font-size: 15px;
	}

	.carduri,
	.comanda-info {
		flex-wrap: wrap;
	}

	.card .card-comanda {
		width: 100%;
	}

	.slideshow-container {
		width: 90%;
		height: 35vh;
	}

	.text {
		font-size: 0.9rem;
		padding: 8px 12px;
		position: absolute;
		bottom: 8px;
		width: 100%;
		text-align: center;
		font-weight: bold;

	}

	.about {
		max-width: 700px;
	}



	.about_capp .img-details {
		width: 40%;
	}

	.fondator img {
		width: 110px;
		height: 110px;
	}

	.fondator {
		overflow: auto;
		margin-bottom: 5px;
		width: 300px;

	}

	.nav a:not(:first-child) {
		display: none;
	}

	.nav a.icon {
		float: right;
		display: block;
	}

	.nav.responsive {
		position: relative;
	}

	.nav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.nav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.cards_prod {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin-left: 5%;
		margin-right: 5%;
	}

	.cards_prod .card {
		width: 85%;
	}

	.contacts .coord {
		width: 100%;
		font-size: 1.1rem;
		font-weight: bold;
		margin-bottom: 30px;
	}

	.contacts .map {
		width: 60%;
		padding: 0;
		float: right;
	}

	.col-80 {
		width: 80%;
	}

	.col-20 {
		width: 20%;
	}

	.col-50 {
		width: 50%;
	}


	.row {
		overflow: auto;
	}
}


@media (max-width: 968px) {
	.contacts {
		flex-direction: column;
	}

	.contacts .coord {
		width: 100%;
		margin-bottom: 15px;
	}

	.contacts .map iframe {
		height: 250px;
	}


}


@media (min-width: 968px) {
	.about {
		max-width: 65%;
	}

	.slideshow-container {
		height: 60vh;
	}

	.about_capp .img-details {
		width: 33%;
	}

}